# Dependencies
node_modules/
.pnpm-store/

# Local Netlify build/dev files
.netlify/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
